p.heading{
    border-style: solid;
    border-color:blue;
    font-size: 40px;
    color:crimson;
    font-stretch: expanded;
    text-align: center;
    background-color:rgb(51, 54, 54);
}



* {
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 0px;
   
}




.column {
    float: left;
    padding: 10px;
    height: 520px; 
       
}

/* Left and right column */
.column.left {
    float: left;
    width: 15%;
    background-color:rgb(51, 54, 54);
}

.column.right {
    float: right;
    width: 15%;
    background-color:rgb(51, 54, 54);
}

/* Middle column */
.column.middle {
    width: 70%;
    background-color: white;
    float: left
   
}

